<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="left-side-bar" th:fragment="left-sidebar">
    <div class="brand-logo">
        <a th:href="@{/index}">
            <img th:href="@{/vendors/images/deskapp-logo.svg}" alt="" class="dark-logo">
            <img th:href="@{/vendors/images/deskapp-logo-white.svg}" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-house-1"></span><span class="mtext">Home</span>
                    </a>
                    <ul class="submenu">
                        <li><a th:href="@{/index}">Dashboard style 1</a></li>
                        <li><a href="index2.html">Dashboard style 2</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-settings"></span><span class="mtext">Configurações</span>
                    </a>
                    <ul class="submenu">
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle">
                                Grupos
                            </a>
                            <ul class="submenu child">
                                <li><a th:href="@{/grupos}">Listar Grupos</a></li>
                                <li><a th:href="@{/grupos/cadastrar}">Novo Grupo</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle">
                                Descrições
                            </a>
                            <ul class="submenu child">
                                <li><a href="javascript:;">Listar Descrições</a></li>
                                <li><a href="javascript:;">Nova Descrição</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>