<!DOCTYPE html>
<html lang="pt"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>AFin - Controle Financeiro e Orçamentário</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/vendors/images/apple-touch-icon.png}">

	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/vendors/images/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/vendors/images/favicon-16x16.png}">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/vendors/styles/core.css}">
	<link rel="stylesheet" th:href="@{/vendors/styles/icon-font.min.css}">
	<link rel="stylesheet" th:href="@{/src/plugins/datatables/css/dataTables.bootstrap4.min.css}">
	<link rel="stylesheet" th:href="@{/src/plugins/datatables/css/responsive.bootstrap4.min.css}">
	<link rel="stylesheet" th:href="@{/vendors/styles/style.css}">

</head>
<body>
	<div class="header" th:replace="fragments-afin/header :: cabecalho">
		<div>header</div>
	</div>

	<div class="right-sidebar" th:replace="fragments-afin/right-sidebar :: right-sidebar">
		<div>right-sidebar</div>
	</div>

	<div class="left-side-bar" th:replace="fragments-afin/left-sidebar :: left-sidebar">
		<div>left-sidebar</div>
	</div>
	<div class="mobile-menu-overlay"></div>

	<section layout:fragment="corpo">
		<div>conteudo principal</div>
	</section>
	<!-- js -->
	<th:block layout:fragment="self-page-javascripts">
	</th:block>
</body>
</html>